upstox-python-sdk
pandas
pyarrow
requests
pyotp          # optional: automated TOTP for Kotak Neo unattended login
# neo_api_client must be installed from GitHub:
# pip install "git+https://github.com/Kotak-Neo/Kotak-neo-api-v2.git@v2.0.2#egg=neo_api_client"
